.work-experience {
    position: relative;
}

.work-experience h2 {
    margin: 0.5rem 0;
    font-size: 2.5rem;
}

.work-experience p {
    font-size: 2rem;
}

.work-experience label{
    font-size: 2rem;
    margin-right: 1rem;
}

.work-experience input {
    display: inline-block;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.work-experience textarea {
    width: 100%;
    font-size: 2rem;
}

.add-button {
    display: block;
    color: black;
    background-color: white;
    border: solid 3px black;
    border-radius: 3px;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 0.5rem auto;
    font-weight: bold;
}